<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Patient Request Profile</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="form-box">
    <h2>Request Profile</h2>
    <div th:if="${msg}" class="alert success" th:text="${msg}"></div>
    <form method="post" th:object="${request}" th:action="@{/patient/update}" autocomplete="off">
        <input type="text" th:field="*{name}" placeholder="Patient name" required autocomplete="off" />
        <input type="text" th:field="*{bloodGroup}" placeholder="Blood group" required autocomplete="off" />
        <input type="number" th:field="*{units}" placeholder="Units" required autocomplete="off" />
        <input type="text" th:field="*{hospital}" placeholder="Hospital name" required autocomplete="off" />
        <input type="text" th:field="*{city}" placeholder="City" required autocomplete="off" />
        <input type="text" th:field="*{contact}" placeholder="Contact number" required autocomplete="off" />
        <button type="submit">Update</button>
    </form>
   <a href="/patient/delete" class="btn-delete">Delete Request</a>
    <div style="text-align: center; margin-top: 30px;">
        <a href="/" class="big-btn" style="text-decoration: none;">
            <i class="fas fa-arrow-left"></i> Back to Home
        </a>
    </div>
</div>
</body>
</html>