<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Blood Donation System</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <h2>Welcome to Blood Donation System</h2>
    <div class="big-btn-grid">
        <a href="/donor/login" class="big-btn"><i class="fas fa-hand-holding-medical"></i><br>Donor</a>
        <a href="/patient/login" class="big-btn"><i class="fas fa-hospital-user"></i><br>Patient</a>
        <a href="/public/requests" class="big-btn"><i class="fas fa-notes-medical"></i><br>View Requests</a>
        <a href="/public/donors" class="big-btn"><i class="fas fa-users"></i><br>View Donors</a>
    </div>
</body>
</html>
